<body>
    <div class="banner">
        <img src="./image/banner.jpg" alt="">
        <div class="banner-text">
            <div class="banner-header-text">
                <h2>Elevate Your Style, Embrace the Savings!</h2>
                <p>Curate your lifestyle with a click.</p>
            </div>
            <div class="banner-btns">
                <button class="banner-btn  first btn">Shop now</button>
                <button class="banner-btn btn"> Explore</button>
            </div> 
                
        </div>
    </div>
    <div class="tag-line">
        <h1>GIFTS THAT MOVE YOU </h1>
        <P>This year's gift. Next year's greatness</P>
    </div>
</body>