<body>
    <div class="grid-view">
        <div class="grid-div item-2">
           <a href="seller.html"><div class="div-1"></div></a>  
        </div>
        <div class="grid-div item-1">
           <a href="seller.html"> <div class="div-1"></div></a>
        </div>
        <div class="grid-div item-3">
            <a href="seller.html"><div class="div-1"></div></a>
        </div>
        <div class="grid-div item-4">
            <a href="seller.html"><div class="div-1"></div></a>
        </div>
        <div class="grid-div item-5">
           <a href="seller.html"> <div class="div-1"></div></a>
        </div>
        <div class="grid-div item-6">
            <a href="seller.html"><div class="div-1"></div></a>
        </div>
    </div>
</body>