<body>
    <div class="cards col-8 offset-3">
        <div class="bag">Bags</div>
        <div class="gift">Gifts</div>
        <div class="book">Books</div>
        <div class="cloth">Clothes</div>
        <div class="electronic">Electrinics</div>
        <div class="applinces">Home applinces</div>
    </div>
</body>