<footer class="footer">  
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>COMPANY</h4>
                <ul>
                    <li><a href="#">Aboout Us</a></li>
                    <li><a href="#">Find Store</a></li>
                    
                    <li><a href="/seller">Become A Seller</a></li>
                    <li><a href="#">Send Us Feedback</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>GET HELP</h4>
                <ul>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Delhivery</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">Contact Us On i-Shop Inquiries</a></li>
                    <li><a href="#">Contact Us On All Over Inquiries</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>ABOUT i-SHOP</h4>
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Carrers</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">Sustainability</a></li>
                </ul>
            </div>
            <div class=footer-col>
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                </div>

            </div>
        </div>
    </div>
</footer>