<body>
    <div class="nav-bar"> 
      <div class="logo-and-search">
          <div class="logo">
              <a href="/home"><img src="./image/logo.png" class="logo-img"></a>
          </div>
          <div class="search-bar">
              <div class="search-box">
                  <input type="text" placeholder="Search for products,brands and more" class="search">
                  <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
              </div>
          </div>
      </div>
    
      <div class="nav-options">
          <div  class="nav-item">    
              <a href="#"><i class="fa-regular fa-heart"></i></a>
          </div>
          <div class="nav-item"> 
            <%  if(!loggedIn) { %>
                <a href="/login"><i class="fa-regular fa-user icons"></i></a>
            <% } else { %> 
                <!-- Redirect to particular user -->
                <a href="/home/<%= user._id  %>"><i class="fa-regular fa-user icons"></i></a>
            <% } %>
          </div>
          
          <div class="nav-item">
              <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
          </div>
          <div class="nav-item">
              <a href="#"><i class="fa-solid fa-bars icons-ham"></i></a>
          </div>
      </div>
      
      
    </div>

   
  </body>
  