<body>
    <div class="nav-bar"> 
      <div class="logo-and-search">
          <div class="logo">
              <a href="/home"><img src="./image/logo.png" class="logo-img"></a>
          </div>
          <div class="search-bar">
              <div class="search-box">
                  <input type="text" placeholder="Search for products,brands and more" class="search">
                  <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
              </div>
          </div>
      </div>
    
      <div class="nav-options">
          <div  class="nav-item">    
              <a href="#"><i class="fa-regular fa-heart"></i></a>
          </div>
          <div class="nav-item"> 
            <%  if(!loggedIn) { %>
                <a href="/login"><i class="fa-regular fa-user icons"></i></a>
            <% } else { %> 
                <!-- Redirect to particular user -->
                <a href="/home/<%= user._id  %>"><i class="fa-regular fa-user icons"></i></a>
            <% } %>
          </div>
          
          <div class="nav-item">
              <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
          </div>
          <div class="nav-item">
              <button onclick="DivClose();" class="button"><i class="fa-solid fa-bars icons-ham"></i></button>
          </div>
      </div>
      
      
    </div>
    <div class="slide-bar" id="bar" onmouseleave="myFunction();">
        <h2 class="head">Hello <br><b style="color:rgb(0, 0, 0);">User Name</b></h2>

        <form action="" class="form-dec">

            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="seller" class="inp" id="2-inp" name="check"> -->
                <label for="1-inp"><a href="" class="manage-anchor" id="mng-anch">All items</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Electrnics" class="inp" id="3-inp" name="check"> -->
                <label for="2-inp"><a href="" class="manage-anchor" id="mng-anch">Best Sellers</a></label> <br>
            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Fashions" class="inp" id="4-inp" name="check"> -->
                <label for="3-inp"><a href="" class="manage-anchor" id="mng-anch">New Releases</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Gifts" class="inp" id="5-inp" name="check"> -->
                <label for="4-inp"><a href="" class="manage-anchor" id="mng-anch">Electronics</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Gifts" class="inp" id="5-inp" name="check"> -->
                <label for="5-inp"><a href="" class="manage-anchor" id="mng-anch">Fashion</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Gifts" class="inp" id="5-inp" name="check"> -->
                <label for="6-inp"><a href="" class="manage-anchor" id="mng-anch">Grocery</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Gifts" class="inp" id="5-inp" name="check"> -->
                <label for="7-inp"><a href="" class="manage-anchor" id="mng-anch">Home appliances</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Gifts" class="inp" id="5-inp" name="check"> -->
                <label for="8-inp"><a href="" class="manage-anchor" id="mng-anch">Medicines</a></label> <br>

            </div>
            <div class="manage-link" id="mng-link">
                <!-- <input type="checkbox" value="Gifts" class="inp" id="5-inp" name="check"> -->
                <label for="9-inp"><a href="" class="manage-anchor" id="mng-anch">Toys, Baby products</a></label> <br>

            </div>
        </form>
    </div>

    <script>
      function DivClose()
        {
            var x=document.getElementById('bar');
            x.classList.toggle("bar-hide");
        }
        function myFunction()
        {
            var x=document.getElementById('bar');
            x.classList.toggle("bar-hide");
            document.getElementById("body").style.overflow="scroll";
        }
    </script>
   
  </body>
  