<link rel="stylesheet" href="/css/login.css">

<body id="body">
    <div class="login-box">
        <h1 class="h1">Login</h1>
        <form class="form" method="post" onsubmit="return validates();">
            <!-- <label>Email</label> -->
            <input type="email" placeholder="Email" class="input" name="email" id="email1">
            <!-- <label>Password</label> -->
            <input type="password" placeholder="Password" class="input" name="password" id="pass1">
            <input type="submit" value="submit" class="submit">
        </form>
        <a href="#" class="forgot-password">Forgot password?</a>
    </div>
    
    <p class="box">Not have an account ? <a href="/register" class="sign-up">Sign Up here</a></p>
</body>
