<link rel="stylesheet" href="/css/login.css">
<body id="body">
    <div class="signup-box">
        <h1 class="h1">Sign Up as Seller</h1>
        <h4 class="h4">It's free and only take a minute</h4>
        <form class="form" method="post" action="/seller-register">
            <label>First Name</label>
            <input name="first" type="text" placeholder="" class="input">
            <label>Last Name</label>
            <input name="last" type="text" placeholder="" class="input">
            <label>Email</label>
            <input name="email" type="email" placeholder="" class="input">
            <label>Password</label>
            <input name="password" type="password" placeholder="" class="input">
            <label>Confirm Password</label>
            <input name="cPassword" type="password" placeholder="" class="input">
            <input type="submit" value="submit" class="submit">
        </form>
        <p class="p">By clicking the sign up button,you agree to our <br>
        <a href="#">Terms and Conditions</a></p>
        <p class="box">Already have an account ? <a href="/seller-login">Login here</a></p>
    </div>
    <br>
    
    </div>
    <br>
    <p class="box">Already have an account ? <a href="/seller-login">Login here</a></p>
</body>
