<% layout("/layouts/boilerplate-seller") %>
<body>
    <section class="first-section" id="first-section">
        <div class="become-seller" id="become-seller-div">
            <div class="seller-text">
                <h2 class="heading-be-seller" id="be-seller">Become a seller on i-Shop And sell to corore customers</h1>
                <button class="button-selling banner-btn" id="button-3rd">Start Selling</button>
            </div>
        </div>
    
        <div class="why">
            <h6 class="heading-why-sell">Why sell on i-Shop ?</h6>
            <div class="facilities" id="facilities-id">
                <div class="facilities-child">
                    <img src=".\image\payment.png" alt="" class="facility-images" id="fac-image-1">
                    <h3 class="facility-heading" id="facility-id">Recive timely payment</h3>
                    <p class="facility-para" id="facility-para-id">App ensure your payments are deposited directly in
                        your bank account within 7-14 business days.</p>
                </div>
                <div class="facilities-child">
                    <img src=".\image\crelation.png" alt="" class="facility-images" id="fac-image-2">
                    <h3 class="facility-heading" id="facility-id">Reach corores of customers</h3>
                    <p class="facility-para" id="facility-para-id">Sell to corores of engaged customers visiting
                        amazon.in on desktop and through our mobile app.</p>
                </div>
                <div class="facilities-child">
                    <img src=".\image\delivery.png" alt="" class="facility-images" id="fac-image-3">
                    <h3 class="facility-heading" id="facility-id">Stress-free delivery</h3>
                    <p class="facility-para" id="facility-para-id">Deliver to 100% of indians serviceable
                        pincodes,through easy ship &Fulfillment by Amazon.</p>
                </div>
            </div>
        </div>
        <div class="get-customers" id="customers">
            <div class="customer-image" id="customer-image-id">
                <img src=".\image\family-shopping.jpg" alt="" class="c-image" id="c-image-id">
            </div>
            <div class="customer-declaration" id="customer-text">
                <h1 class="cust-head">Get More Customers</h1>
                <p class="customer-para">Increase your stores present in your local neighbourhood, or expand national
                    reach and sell quality.</p>
                <button class="button-selling" id="button-4th">Get Customers</button>
            </div>
        </div>
    
        <!-- 3 division -->
        <div class="main-div" id="main-div">
            <div class="first-for-main">
                <h1 class="head-1st">Sell product World wide</h1>
                <img src=".\image\delivery-2.png" alt="sorry!" class="image-control-main-div">
                <h1 class="head-1st">Local Store</h1>
                <p class="div-main-para">
                    Boost sales with improved visibility and swift deliveries to customers in nearby areas
                </p>
                <button class="button-selling-maindiv" id="button-local-sell">Start Selling</button>
            </div>
            <div class="first-for-main">
                <h1 class="head-1st">Become a national seller</h1>
                <img src=".\image\sal-naetional.jpg" alt="sorry!" class="image-control-main-div">
                <h1 class="head-1st">Sell in your neighbourhood</h1>
                <p class="div-main-para">
                    Sell your product to corores of customers on india's most visited shopping destination
                </p>
                <button class="button-selling-maindiv" id="button-national-sell">Start Selling</button>
            </div>
            <div class="first-for-main">
                <h1 class="head-1st">Start selling globally</h1>
                <img src=".\image\global-sell.jpg" alt="sorry!" class="image-control-main-div">
                <h1 class="head-1st">Sell in your neighbourhood</h1>
                <p class="div-main-para">
                    Sell to millions of customers across globe by using global version of app
                </p>
                <button class="button-selling-maindiv" id="button-global-sell">Start Selling</button>
            </div>
        </div>
        <!-- feedback form -->
        <div class="feedback">
            <h1>We are happy to help you</h1>
            <P>Still have questions or queries that are left unanswered? Share your thoughts us improve your website
                experience.</P>
            <br>
            <br>
            <form>
                <input type="text" name="Full Name" placeholder="Enter Your Full Name " size="20"
                    class="input-feedback" /> <br> <br>
    
                <input type="text" name="lastname" placeholder=" Enter Mobile Number/Email ID" size="15"
                    class="input-feedback" /> <br> <br>
    
                <select class="input-feedback">
    
                    <option value=" " disabled selected>Select A Topic</option>
                    <option value="Selling">Selling</option>
                    <option value="Buying">Charges</option>
                    <option value="Buying">Payment</option>
                    <option value="Buying">Transport</option>
                </select>
                <br>
                <br>
                <textarea class="textarea" cols="80" rows="5" placeholder="Type your message"></textarea>
                <br>
                <br>
                <button name="Send Query" value="OK" type="button" class="button-selling-maindiv">
                    Send Query</button>
            </form>
        </div>
    
        <!-- go to top -->
        <div class="go-to-top">
            <div class="thanks">
                <b>We’d love to hear what you think!</b> <br>
                <button class="button-selling" id="feedback">Give feedback</button>
            </div>
            
        </div>
    </section>
</body>