<% layout("/layouts/simplePage") %>
<h1>User details</h1>
<div>
    <p>Name: <%= user.first  %> <%= user.last %> </p>
    <p>Email : <%= user.email %> </p>
    <p>Mobile: <%= user.mob %> </p>
</div>

